.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 20px;
  width: 85vw;
  margin: 0 auto;
}

.card-list p {
  text-align: left;
}

.text-bold {
  font-weight: 600;
}
